/* Custom font-weight và transition */
.custom-sidebar-menu .ant-menu-item {
  transition: all 0.3s ease;
}

.custom-sidebar-menu .ant-menu-item:hover {
  font-weight: 600;
}

.custom-sidebar-menu .ant-menu-item-active,
.custom-sidebar-menu .ant-menu-item-selected {
  font-weight: 600;
}

.ant-layout-sider-collapsed .custom-sidebar-menu .ant-menu-item {
  padding-inline: 16px !important;
}
